html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.wrapper{
    width: 70rem;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: center;
}

.leftheader, .rightheader{
    padding: 0 0.4rem;
}

.rightheader{
    align-self: center;
}

.rightheader h1, .rightheader p{
    margin: 0;
}

.rightheader h1{
    color: #DA0090;
    font-weight: bold;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    border-width: 2px 0;
    border-style: solid;
    border-color: #DA0090;
    padding: 0;
    margin: 0;
}

nav ul li{
    padding: 0.3rem 1rem;
}

/* included this to have more space between the boxes and lesser in at the corners */
section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 38rem;
    padding: 1.5rem 0;
}

section article{
    display: flex;
}

article img{
    margin-right: 1.5rem;
    border-radius: 5%;
}

.posted {
    font-size: 0.8rem;
    color: #89A611;
}

hr{
    border-width: 3px 0;
    border-style: solid;
    border-color: #DA0090;
    margin: 0;
}

footer {
    text-align: center;
    font-size: 0.8rem;
}

footer ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

footer li{
    margin: 0 0.2rem;
}